<%= content_for :head_include do%>
	<link rel="stylesheet" href="/鸟窝html/stylesheets/interview.css" />
  <%= javascript_include_tag :jquery_ujs%>
<%end%>
<div class="mainContainer">
	<div class="main">
    <%= render partial: "/layouts/hr_top_timeline"%>
		<h2 class="h2Title"><%= I18n.t!("model.post.status.#{params[:status]}职位") rescue "已发布职位"%></h2>
		<ul class="soldOut">
      <%@posts.each_with_index do |post, index|%>
			<li<%= " style=margin-right:0px;" if (index+1)%2==0 %>>
				<p><%= post.created_at.strftime("%Y 年 %m 月 %d 日")%></p>
				<p>发布职位：<%= post.title%></p>
				<p>所在部门：<%= post.department%></p>
				<p>工作城市：<%= post.area%></p>
				<div class="btns">
          <%= link_to "查    看", hr_post_path(post), class: "btnR"%>
          <%= link_to "编    辑", edit_hr_post_path(post), class: "btnR"%>
          <%= link_to "删    除", hr_post_path(post), method: :delete, class: "btnR"%>
          <%= link_to I18n.t("model.post.status_action_names.#{post.status}"), set_status_hr_post_path(post), method: :put, class: "btnR"%>
				</div>
			</li>
      <%end%>
		</ul>
    <%= paginate @posts, window: 6%>
	</div>
  <%= render partial: "/layouts/right"%>
</div>