<%= content_for :head_include do%>
	<link rel="stylesheet" href="/鸟窝html/stylesheets/ui_common.css" />
	<link rel="stylesheet" href="/鸟窝html/stylesheets/release_job.css" />
  <script type="text/javascript" charset="utf-8" src="/鸟窝html/javascripts/ueditor1_4_3-src/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/鸟窝html/javascripts/ueditor1_4_3-src/_examples/editor_api.js"></script>
<%end%>
<div class="mainContainer">
	<div class="main">
			<h2 class="h2Title">发布职位 | <a href="#">今天发布了<%= @new_posts_for_today%>个职位</a></h2>
			<div class="form">
				<%= form_for @post, url: hr_posts_path, method: :post do |f|%>
        <%= render partial: "/hr/posts/form", locals: {f: f}%>
        <div class="jobBtns">
				<input type="hidden" value="" name="addhopecontenthidden" id="addHopeContenthidden">
                <a class="btn" href="javascript:void(0)" id="positionIssue">发布职位</a>
			</div>
			<%end%>
		</div>
	
	<%= render partial: "/layouts/right"%>
</div>