<%= content_for :head_include do%>
	<link rel="stylesheet" href="/鸟窝html/stylesheets/ui_common.css" />
	<link rel="stylesheet" href="/鸟窝html/stylesheets/job_detail.css" />
  <%= javascript_include_tag :jquery_ujs%>
<%end%>
<div class="mainContainer">
	<div class="main">
		<div class="ml">
			<%= render partial: "/layouts/left_company_info", locals: {company: @company}%>
		</div>
		<div class="mm">
			<h2 class="h2Title">职位详情</h2>
			<div class="jobDetail">
				<div class="hrInfo">
					<div class="hrImg"><%= link_to image_tag(@post.account.logo(:thumb)), "#"%></div>
					<div class="hrIf">
						<p><span><%= current_account.nick_name%> （<%= @post.protect_email%>）</span></p>
						<p class="hot"><span>发布了  <%= @post.title%></span></p> 
						<p><span>地点：<%= @post.address%></span><span>公司：<%= @company.name%></span><span>薪资：￥<%= "#{@post.price_min.to_i}k ~ #{@post.price_max.to_i}k"%></span></p>
						<p class="time">发布时间：<%= @post.created_at.strftime("%Y.%m.%d")%></p>
					</div>
				</div>
        <div class="content">
          <%= sanitize @post.content %>
        </div>
			</div>
			<div class="jobBtns">
        <%= link_to "编    辑", edit_hr_post_path(@post), class: "btnR"%>
        <%= link_to I18n.t("model.post.status_action_names.#{@post.status}"), set_status_hr_post_path(@post), method: :put, class: "btnR"%>
        <%= link_to "删    除", hr_post_path(@post), method: :delete, class: "btnR"%>
			</div>
		</div>
	</div>
  <%= render partial: "/layouts/right"%>
</div>