<div class="mainContainer step2">
	<div class="main">
		<!-- <div class="mm"> -->
			<h2 class="h2Title">招聘方注册第2步</h2>
			<%= form_for Company.new, url: accounts_companies_path do |f|%>
			<div class="form">
				<div class="frm">
					<span class="">公司全称</span>
					<%= f.text_field :name,id: "mycompany",class: "verification","data-type" => "notnull","data-nohide" => "1", "error-id" => "errormycompany"%>
					<span class="error" id="errormycompany">*请填写公司名称</span>
				</div>
				<div class="frm">
					<span class="">联系电话</span>
					<%= f.text_field :tel,id: "mytel",class: "verification","data-type" => "tel","data-nohide" => "1", "error-id" => "errormytel"%>
					<span class="error" id="errormytel">*请填写“区号-号码”或手机号</span>
				</div>
				<div class="frm">
					<span class="">接受简历的邮箱</span>
					<%= f.text_field :email,id: "myemail",class: "verification","data-type" => "email","data-nohide" => "1", "error-id" => "errormyemail"%>
					<span class="error" id="errormyemail">*请填写接受简历的邮箱</span>
				</div>
			</div>
			<div class="registerBtn">
        <%= f.submit raw("保&nbsp;存"), class: "btn"%>
			</div>
      <%end%>
			<div class="questions">
				<dl>
					<dt>常见问题：</dt>
					<dd class="highlight">问：填写个人邮箱可以么？</dd>
					<dd>答：不可以。为了保证每个职位的真实性，鸟窝严格要求招聘方必须提供公司邮箱。（公司邮箱是指以你的公司网址为后缀的免费公司邮箱，例如鸟窝的公司邮箱后缀是@niaowo.com）即使是初创公司也必须提供公司邮箱才允许开通招聘。</dd>
					<dd  class="highlight">问：公司没有公司邮箱怎么办？</dd>
					<dd>答：鸟窝推荐使用免费、稳定的腾讯企业邮箱（网址：http://exmail.qq.com），根据邮箱申请指南进行操作，很快就可以拥有以你的公司网址为后缀的免费公司邮箱。</dd>
				</dl>
				<dl>
					<dt>公司全称</dt>
					<dd  class="highlight">请输入与公司营业执照一致的公司全称，审核通过后不可更改</dd>
				</dl>
				<dl>
					<dt>没有收到确认邮件，怎么办？</dt>
					<dd  class="highlight">1.邮箱地址填写错误？ 重新填写邮箱地址</dd>
					<dd  class="highlight">2.看看是否在邮箱的垃圾邮件、广告邮件目录里</dd>
					<dd  class="highlight">3.稍等几分钟，若还未收到验证邮件， 重新发送验证邮件</dd>
					<dd  class="highlight">4.还未收到验证邮件，请联系我们，邮箱：939898101@qq.com</dd>
				</dl>
				<p> 如有其它问题，请发送问题到<span class="highlight">939898101@qq.com </span>我们会尽快为你解决。</p>
			</div>
		</div>
	<!-- </div> -->
	
</div>