<div class="mainContainer">
	<div class="main">
		<div class="ml">
			<h2 class="regH2">推荐公司</h2>
			<ul class="brands loginTip" data-msgtip="请填写期望：职位与城市">
				<li><a href="#" class="baidu"><span>百度</span></a></li>
				<li><a href="#" class="baiduyun"><span>百度云</span></a></li>
				<li><a href="#" class="huaban"><span>花瓣</span></a></li>
				<li><a href="#" class="oneshop"><span>1号店</span></a></li>
				<li><a href="#" class="jd"><span>京东</span></a></li>
				<li><a href="#" class="sina"><span>新浪</span></a></li>
			</ul>
		</div>
		<div class="mm">
        <ul class="mSubNav">
            <li><a href="#" class="findTit">发现</a></li>
            <li class="loginTip" data-msgtip="请填写期望：职位与城市"><a href="javascript:void(0)" class="f_current">JS</a></li>
            <li class="loginTip" data-msgtip="请填写期望：职位与城市"><a href="javascript:void(0)" class="f_btn">CSS</a></li>
            <li class="loginTip" data-msgtip="请填写期望：职位与城市"><a href="javascript:void(0)" class="f_btn">UI</a></li>
            <li class="loginTip" data-msgtip="请填写期望：职位与城市"><a href="javascript:void(0)" class="f_btn">PM</a></li>
            <!--<li><a href="#" class="topTit">热门</a></li>
            <%#self_hot_search_tags.each do |tag|%>
            <li class="loginTip" data-msgtip="请填写期望：职位与城市"><a href="<%#= search_posts_path(k: tag.name)%>" class="t_current"><%#= tag.name%></a></li>
            <%#end%>-->
        </ul>
        <%if @account_tags.blank? || @account_hope_area.blank?%>
        <h2 class="indexH2">嗨，给自己期望的工作留点印记吧，才能进行下一步哦！！！</h2>
                <div class="postForm">
                    <div class="hopePost">
                        <div class="frm">
                            <span>期望职位：</span>
                            <div class="posts" id="addHopePanel">
                            </div>

                            <div class="postInput">
                                <input type="text" id="addHopeContent"><a href="javascript:void(0)" id="addHope" class="addPost"><em>&nbsp;</em></a>
                            </div>
                        </div>
                        <div class="">
                            <span>期望城市：</span>
                            <div class="postInput">
                                <select id="cityHopes" data-placeholder="选择城市" style="width:100px;height:40px"><select>
                            </div>
                        </div>
                        <br>
                        <a href="javascript:void(0)" id="saveHopes" class="saveBtn">保存印记</a>
                    </div>
                </div>
                <%else%>
                  <%if @hot_posts.present?%>
                    <p class="nohopeJob">您期望的职位让小伙们惊呆了( ⊙ o ⊙ )啊！居然没有，我们会尽快补全，尝试一下其它职位吧！</p>
                  <%end%>
                		<ul class="employment">
                			<%(@posts || @hot_posts).each do |post|%>
                			<li class="selectcurrent">
                				<div class="employInfo">
                					<div class="userImg"><%= link_to image_tag(post.account.logo(:thumb)), "#"%></div>
                					<div class="employDetail">
                						<p><span class="b"><%= post.account.nick_name%>   （<%= post.protect_email%>）</span><span>发布了  <%= post.title%></span></p>
                						<p><span class="b">地点：<%= post.address%></span><span class="b">公司：<%= post.company.name%></span><span class="b">薪资：<%= "#{post.price_min.to_i}k ~ #{post.price_max.to_i}k"%></span></p>
                						<dl>
                						 	<dt>职位要求：</dt>
                						 	<%= post.sanitize_content.to_s[0, 200] %>
                						 </dl>
                					</div>
                				</div>

                				<div class="employBtns">
                					<a href="javascript:void(0)" jobid="<%= post.id%>" class="btnR initiateInterviewBtn">发起面试</a><a href="<%= post_path(post)%>" class="btnR">查    看</a><a jobid="<%= post.id%>"  onclick="addCollect(this)" href="javascript:void(0)" class="btnR">收    藏</a>
                				</div>
                			</li>
                      <%end%>
                		</ul>
                    <%= paginate (@posts || @hot_posts), window: 6%>
                <%end%>
		</div>
	</div>
	<%= render partial: "/layouts/right"%>
</div>
