<%content_for :head_include do%>
	<link rel="stylesheet" href="/鸟窝html/stylesheets/release_job.css" />
    <%= javascript_include_tag '/鸟窝html/javascripts/ajaxupload.js', 'data-turbolinks-track' => true %>
<%end%>
		<div class="mainContainer">
			<div class="main">
				<!-- <div class="ml">
				</div> -->
				<!-- <div class="mm"> -->
					<h2 class="h2Title">基本资料</h2>
					<%= form_for current_account, url: accounts_profile_path(current_account), method: :patch do |f|%>
            <%if flash[:error]%>
            <span style="color: red">错误信息:<%= flash[:error]%></span>
            <%end%>
            <%if flash[:notice]%>
            <span style="color: green">提示信息:<%= flash[:notice]%></span>
            <%end%>
  					<div class="form">
  						<div class="frm">
  							<span class="">头       像：</span>
  							<div class="file">
  								<span class="fImg"><img id="myimg" class="myimgs" src="<%= current_account.logo(:thumb)%>" alt="" /></span>
  								<a  id="myimage" href="javascript:$('#file_upload').uploadify('upload','*')">上传照片</a>
  							</div>
  							<span class="suggestPicture"><strong>☞</strong> 建议：文件小于3M；尺寸宽、高一样，例如：100（宽）*100（高）</span>
  						</div>
  						<div class="frm">
  							<span class="">昵       称：</span>
                <%= f.text_field :nick_name,id: "peopleNickName", class: "verification","data-noHide" => "1","error-id" => "errorpeopleNickName","data-type" => "notnull"%>
  							<span class="error" id="errorpeopleNickName">*请填写昵称</span>
  						</div>
  						<div class="frm">
  							<span class="">联系邮箱：</span>
                <%= f.text_field :email,id: "peopleEmail", class: "verification","data-noHide" => "1","error-id" => "errorpeopleEmail","data-type" => "notnull"%>
  							<span class="error" id="errorpeopleEmail">*请填写联系邮箱</span>
  						</div>
  						<div class="frm">
  							<span class="">公司邮箱：</span>
                <%= f.text_field :company_email,id: "peopleCompanyEmail", class: "verification","data-noHide" => "1","error-id" => "errorpeopleCompanyEmail","data-type" => "notnull"%>
  							<span class="error" id="errorpeopleCompanyEmail">*请填写公司邮箱</span>
  						</div>
  						<div class="frm">
  							<span class="">简       介：</span>
                <%= f.text_field :description,id: "peopleIntroduce", class: "verification","data-noHide" => "1","error-id" => "errorpeopleIntroduce","data-type" => "notnull"%>
  							<span class="error" id="errorpeopleIntroduce">*请填写相关简介</span>
  						</div>
  						<!-- <div class="frm">
  							<span class="">所在部门</span>
  							<input type="text" />
  							<span class="error">*请填写职位所在部门</span>
  						</div>
  						<div class="frm">
  							<span class="">职位详情</span>
  							<textarea name="" id=""></textarea>
  							<span class="error">*请填写职位详情</span>
  						</div>
  						<div class="frm">
  							<span class="">职位关键词</span>
  							<div class="posts">
  								<a href="#">JavaScript<i>×</i></a>
  								<a href="#">前端css<i>×</i></a>
  								<a href="#">nodeJS<i>×</i></a>
  								<a href="#">Designer<i>×</i></a>
  								<a href="#">前端css<i>×</i></a>
  								<a href="#">nodeJS<i>×</i></a>
  								<a href="#">Designer<i>×</i></a>
  							</div>
  							<div class="postInput">
  								<input type="text" /><a href="#" class="addPost"><em>&nbsp;</em></a>
  							</div>
  							<span class="error">*请填写职位关键词，方便应聘方更方便的搜索您的职位</span>
  						</div> -->
  					</div>
          
  					<div class="jobBtns">
                        <a href="javascript:void(0)" id="saveInfo" class="btn">保&nbsp;存</a>
  					</div>
          <%end%>
				</div>
			<!-- </div> -->
			<%= render partial: "/layouts/right"%>
		</div>