<%content_for :head_include do%>
	<link rel="stylesheet" href="/鸟窝html/stylesheets/release_job.css" />
  <link rel="stylesheet" href="/鸟窝html/javascripts/css/ui-lightness/jquery-ui-1.10.4.min.css" />
  <script type="text/javascript" src="/鸟窝html/javascripts/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="/鸟窝html/javascripts/jquery-ui-1.10.4.min.js"></script>
  <script type="text/javascript" src="/鸟窝html/javascripts/cookie.js"></script>

<%end%>
<div class="mainContainer">
	<div class="main">
  	<h2 class="h2Title">完善简历</h2>
  	<ul class="perfectResume">
  		<li class="">
  			<h3><i>* </i>个人信息</h3>
        <%if flash[:error]%>
        <span style="color: red">错误信息:<%= flash[:error]%></span>
        <%end%>
        <%if flash[:notice]%>
        <span style="color: green">提示信息:<%= flash[:notice]%></span>
        <%end%>
  			<%= form_for @account_resume, url: ajax_save_worker_resumes_path do |f|%>
  			<div class="form">
  				<div class="frm">
  					<span class="">姓       名：</span>
  					<%= f.text_field :name,  id: "update_name", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errorupdate_name"%>
  					<span class="error" id="errorupdate_name">*请填写姓名</span>
  				</div>
  				<div class="frm">
  					<span class="">性       别：</span>
                    <label>男<%= f.radio_button :gender, 1, "checked"=>"checked",class: :rad%></label>
                    <label>女<%= f.radio_button :gender, 0, class: :rad%></label>
  					<span class="error">*请选择性别</span>
  				</div>
  				<div class="frm">
  					<span class="">出生年份：</span>
                    <%= f.text_field :birthday, value: format_to_date(@account_resume.birthday), id: "birthday",class: "verification timeDatepicker","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "date", "error-id" => "errorbirthday"%>
  					<span class="error" id="errorbirthday">*请填写出生日期</span>
  				</div>
                          <div class="frm">
  					<span class="">婚姻状态：</span>
                    <%= f.select :marital_status, AccountResume::MARITAL_STSTUS_ENUM.dup.unshift(["---请选择---", nil]), include_blank: false, style: "width:164px;", id: "marriage"%>
  					<span class="error">*请填写婚姻状态</span>
  				</div>
  				<div class="frm">
  					<span class="">手       机：</span>
                    <%= f.text_field :tel,  id: "update_mobi", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "mobi", "error-id" => "errorupdate_mobi"%>
  					<span class="error" id="errorupdate_mobi">*请填写手机号</span>
  				</div>
  				<div class="frm">
  					<span class="">邮       箱：</span>
                     <%= f.text_field :email,  id: "update_email", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "email", "error-id" => "errorupdate_email"%>
  					<span class="error" id="errorupdate_email">*请填写邮箱</span>
  				</div>
          <div class="frm">
              <span class="">详细住址：</span>
                <%= f.text_field :address,  id: "update_address", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errorupdate_address"%>
              <span class="error" id="errorupdate_address">*请填写详细住址</span>
          </div>
  			</div>
        <%end%>
  		</li>
  		<li>
  			<h3><i>* </i> 期望职位  |  <span>更精准帮您推荐喜欢的职位</span></h3>
        <%= form_for @account_resume, url: ajax_save_worker_resume_educations_path do |f|%>
  			<div class="form">
  				<div class="frm">
  					<span class="">职位关键词</span>
  					<div class="posts" id="addHopePanel">
              <%@account_resume.tag_list.each do |tag|%>
                <a style="" href="javascript:void(0)"><%= tag%><i title="删除" class="deleteHope">×</i></a>
              <%end%>
  					</div>
  					<div class="postInput">
  						 <input type="text" id="addHopeContent"><a href="javascript:void(0)" data-msg="职位关键词" id="addHope" class="addPost"><em>&nbsp;</em></a>
  					</div>
  					<span class="error">*请填写职位关键词，方便应聘方更方便的搜索您的职位</span>
  				</div>
  				<div class="frm">
  					<span class="">期望城市：</span>
                    <%= f.text_field :hope_area,  id: "update_hope_area", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errorupdate_hope_area"%>
                    <!--select  id='update_hope_area' name='account_resume[hope_area]' data-placeholder="选择城市" style="width:100px;height:40px"><select-->
  					<span class="error" id="errorupdate_hope_area">*请填写城市</span>
  				</div>
  				<div class="frm">
  					<span class="">期望薪资：</span>
  					<%= f.text_field :hope_salary,  id: "update_hope_salary", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "hopemoney", "error-id" => "errorupdate_hope_salary"%>
  					<span class="error" id="errorupdate_hope_salary">*请填写数字格式的期望薪资</span>
  				</div>
  			</div>
        <%end%>
  		</li>
  		<li>
  			<h3><i>* </i>工作经历 |  <span>最能体现自己的工作能力</span></h3>
        <%= form_for AccountResumeExperience.new, url: ajax_save_worker_resume_experiences_path do |f|%>
        <%= f.hidden_field :account_resume_id, value: @account_resume.id %>
  			<div class="form" id="jobhistory">
  				<div class="frm">
  					<span class="">公司名称：</span>
  					<%= f.text_field :company_name,  id: "update_company_name", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errorupdate_company_name"%><br />
  					<span class="error" id="errorupdate_company_name">*请填写公司姓名</span>
  				</div>
  				<div class="frm">
  					<span class="">公司职位：</span>
  					<%= f.text_field :post,  id: "update_company_post", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errorupdate_company_post"%><br />
  					<span class="error" id="errorupdate_company_post">*请填写公司职位</span>
  				</div>
  				<div class="frm">
  					<span class="">开始时间：</span>
                    <%= f.text_field :start_time, value: format_to_date(@account_resume.birthday), id: "startTimejob",class: "verification timeDatepicker","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "date", "error-id" => "errorstartTimejob"%>
  					<span class="error" id="errorstartTimejob">*请填写开始时间</span>
  				</div>
  				<div class="frm">
  					<span class="">结束时间：</span>
  					<%= f.text_field :end_time, value: format_to_date(@account_resume.birthday), id: "endTimejob",class: "verification timeDatepicker","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "date", "error-id" => "errorendTimejob"%>
  					<span class="error" id='errorendTimejob'>*请填写结束时间</span>
  				</div>
          <div class="frm">
  					<span class="">薪资：</span>
  					<%= f.text_field :salary,  id: "moneyjob", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "hopemoney", "error-id" => "errormoneyjob"%>k
  					<span class="error" id="errormoneyjob">*请填写薪资</span>
  				</div>
  				<div class="frm">
  					<span class="">工作描述：</span>
  					<%= f.text_area :description,  id: "myjobdes", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errormyjobdes"%>
  					<span class="error" id="errormyjobdes">*请填写结束时间</span>
  				</div>
  			</div>
  			<div class="jobBtns">
                <button class="btn" name="button" type="button" id="addjobhistory">添&nbsp;加</button>
  			</div>
        <%end%>
        <% @experiences.each do |experience|%>
  			<div class="readonly">
    				<p>
              <span class="itemNm">在职时间： </span> 
              <%= strftime(experience.start_time, "%Y年%m月")%>到<%= strftime(experience.end_time, "%Y年%m月")%>
            </p>
    				<p><span class="itemNm">公司名称： </span><%= experience.company_name%></p>
    				<p><span class="itemNm">公司职位：</span><%= experience.post%></p>
    				<p><span class="itemNm">薪资：</span><%= experience.salary%>k</p>
    				<p><span class="itemNm">工作描述：</span><%= experience.description%></p>
    				<div class="jobBtns">
    					<a href="javascript:void(0)" data-moneyjob='<%= experience.salary%>' data-startime='<%= strftime(experience.start_time, "%Y-%m-%d")%>' data-endime='<%= strftime(experience.end_time, "%Y-%m-%d")%>' data-company_name='<%= experience.company_name%>' data-post='<%= experience.post%>' data-description='<%= experience.description%>' data-id="<%= experience.id%>" class="btnR editJobhistory" data-id="<%= experience.id%>">编&nbsp;辑</a><a href="javascript:void(0)" class="btnR delJobhistory" data-id="<%= experience.id%>">删&nbsp;除</a>
    				</div>
  			</div>
        <%end%>
  		</li>
  		<li>
  			<h3><i>* </i>项目经验 |  <span>用人单位衡量人才的重要指标哦</span></h3>
        <%= form_for AccountResumeObject.new, url: ajax_save_worker_resume_objects_path do |f|%>
        <%= f.hidden_field :account_resume_id, value: @account_resume.id %>
  			<div class="form">
  				<div class="frm">
  					<span class="">项目名称：</span>
  					<%= f.text_field :name,  id: "myprojectname", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errormyprojectname"%>
  					<span class="error" id="errormyprojectname">*请填写项目姓名</span>
  				</div>
  				<div class="frm">
  					<span class="">项目描述：</span>
  					<%= f.text_area :project_desc,  id: "project_desc", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errorproject_desc"%>
  					<span class="error" id="errorproject_desc">*请填写项目描述</span>
  				</div>
  				<div class="frm">
  					<span class="">责任描述：</span>
  					<%= f.text_area :role_desc,  id: "role_desc", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errorrole_desc"%>
  					<span class="error" id="errorrole_desc">*请填写责任描述</span>
  				</div>
  				<div class="frm">
  					<span class="">开始时间：</span>
  					<%= f.text_field :start_date, value: format_to_date(@account_resume.birthday), id: "startTimeproject",class: "verification timeDatepicker","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "date", "error-id" => "errorstartTimeproject"%>
  					<span class="error" id="errorstartTimeproject">*请填写开始时间</span>
  				</div>
  				<div class="frm">
  					<span class="">结束时间：</span>
  					<%= f.text_field :end_date, value: format_to_date(@account_resume.birthday), id: "endTimeproject",class: "verification timeDatepicker","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "date", "error-id" => "errorendTimeproject"%>
  					<span class="error" id="errorendTimeproject">*请填写结束时间</span>
  				</div>
  			</div>
  			<div class="jobBtns">
                <input class="btn" name="commit" type="button" id="addprojects" value="添&nbsp;加">
  			</div>
        <%end%>
        <% @objects.each do |object|%>
  			<div class="readonly">
  				<p>
            <span class="itemNm">项目时间：  </span> 
            <%= strftime(object.start_date, "%Y年%m月")%>到<%= strftime(object.end_date, "%Y年%m月")%>
          </p>
  				<p><span class="itemNm">项目名称：  </span><%= object.name%></p>
  				<p><span class="itemNm">项目描述：</span><%= object.project_desc%></p>
  				<p><span class="itemNm">责任描述：</span><%= object.role_desc%></p>
  				<div class="jobBtns">
  					<a href="javascript:void(0)" class="btnR editProjecthistory" data-startime="<%= strftime(object.start_date, "%Y-%m-%d")%>" data-endime="<%= strftime(object.end_date, "%Y-%m-%d")%>" data-projectName="<%= object.name%>" data-project_desc="<%= object.project_desc%>" data-role_desc="<%= object.role_desc%>" data-id="<%= object.id%>">编&nbsp;辑</a><a href="javascript:void(0)" class="btnR delProjecthistory" data-id="<%= object.id%>">删&nbsp;除</a>
  				</div>
  			</div>
        <%end%>
  		</li>
  		<li>
  			<h3><i>* </i>教育经历 |  <span>可以提现你的专业及学习能力</span></h3>
        <%= form_for AccountResumeEducation.new, url: ajax_save_worker_resume_educations_path do |f|%>
        <%= f.hidden_field :account_resume_id, value: @account_resume.id %>
  			<div class="form">
  				<div class="frm">
  					<span class="">学       历：</span>
                <select id="Degree" name="Degree">
                    <option value="初中">初中</option><option value="高中">高中</option><option value="中技">中技</option><option value="中专">中专</option><option value="大专" selected="">大专</option><option value="本科" selected='selected'>本科</option><option value="MBA">MBA</option><option value="硕士">硕士</option><option value="博士">博士</option><option value="其他">其他</option>
                </select>
  					<span class="error">*请填写学历</span>
  				</div>
  				<div class="frm">
  					<span class="">学       校：</span>
  					<%= f.text_field :school,  id: "role_school", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errorrole_school"%>
  					<span class="error" id="errorrole_school">*请填写学校</span>
  				</div>
  				<div class="frm">
  					<span class="">专       业：</span>
  					<%= f.text_field :major,  id: "role_major", class: "verification", style: "border: 1px solid rgb(160, 160, 160);","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "notnull", "error-id" => "errorrole_major"%>
  					<span class="error" id="errorrole_major">*请填写专业</span>
  				</div>
  				<div class="frm">
  					<span class="">开始时间：</span>
  					<%= f.text_field :start_date, value: format_to_date(@account_resume.birthday), id: "startTimeeducation",class: "verification timeDatepicker","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "date", "error-id" => "errorstartTimeeducation"%>
  					<span class="error" id='errorstartTimeeducation'>*请填写开始时间</span>
  				</div>
  				<div class="frm">
  					<span class="">结束时间：</span>
  					<%= f.text_field :end_date, value: format_to_date(@account_resume.birthday), id: "endTimeeducation",class: "verification timeDatepicker","data-noHide"=>"1", "data-em" => "notnull", "data-type" => "date", "error-id" => "errorendTimeeducation"%>
  					<span class="error" id="errorendTimeeducation">*请填写结束时间</span>
  				</div>
  			</div>
  			<div class="jobBtns">
                <input class="btn" name="commit" type="button" id="addAccount" value="添&nbsp;加">
  			</div>
        <%end%>
        <% @educations.each do |education|%>
  			<div class="readonly">
  				<p>
            <span class="itemNm">教育时间：  </span>
            <%= strftime(education.start_date, "%Y年%m月")%>到<%= strftime(education.end_date, "%Y年%m月")%>
          </p>
  				<p><span class="itemNm">学&nbsp;校：</span><%= education.school%></p>
  				<p><span class="itemNm">学&nbsp;历： </span><%= education.name%></p>
  				<p><span class="itemNm">专&nbsp;业： </span><%= education.major%></p>
  				<div class="jobBtns">
  					<a data-Degree="<%= education.name%>" data-endTimeeducationedit="<%= strftime(education.end_date, "%Y-%m-%d")%>" data-startTimeeducationedit="<%= strftime(education.start_date, "%Y-%m-%d")%>" data-role_school="<%= education.school%>" data-role_major="<%= education.major%>" href="javascript:void(0)" class="btnR editDucationhistory" data-id="<%= education.id%>">编&nbsp;辑</a><a href="javascript:void(0)" class="btnR deleducationhistory" data-id="<%= education.id%>">删&nbsp;除</a>
  				</div>
  			</div>
        <%end%>
  		</li>
  		<li>
  			<h3><i>* </i>雷达设置 |  <span>定制您的个性化</span></h3>
        <%= form_for current_account.account_radar||current_account.build_account_radar, url: save_worker_radars_path, method: :post do |f|%>
  			<div class="form">
  				<div class="frm">
  					<span class="">目前状态：</span>
            <%= f.select :idea, AccountRadar::IDEA_TYPES, style: "width:154px;"%>
  					<span class="error">*请选择目前状态</span>
  				</div>
  				<div class="frm">
  					<span class="lgspan">是否被单位搜索：</span>
  					<label><%= f.radio_button :can_search, true, class: "rad"%>是</label>
  					<label><%= f.radio_button :can_search, false, class: "rad"%>否</label>
  					<span class="error">*请选择性别</span>
  				</div>
  				<div class="frm">
  					<span class="">是否订阅：</span>
  					<label><%= f.radio_button :subscribe, true, class: "rad"%>是</label>
  					<label><%= f.radio_button :subscribe, false, class: "rad"%>否</label>
  					<span class="error">*请选择性别</span>
  				</div>
  				<div class="frm">
  					<span class="">订阅频率：</span>
            <%= f.select :subscribe_frequency, AccountRadar::SUBSCRIBE_FREQUENCIES, style: "width:154px;"%>
  					<span class="error">*请填写开始时间</span>
  				</div>
  				<div class="frm">
  					<span class="">订阅开始时间：</span>
            <%= f.text_field :start_date, class: "timeDatepicker verification", "data-noHide" => "1", "data-type" => "date",  id: "on_line_time", "error-id" => "erroron_line_time"%>
  					<span class="error" id="erroron_line_time">*请填写开始时间</span>
  				</div>
                          <div class="frm">
  					<span class="">订阅结束时间：</span>
            <%= f.text_field :end_date, class: "timeDatepicker verification", "data-noHide" => "1", "data-type" => "date",  id: "off_line_time", "error-id" => "erroroff_line_time"%>
  					<span class="error" id="erroroff_line_time">*请填写结束时间</span>
  				</div>
  			</div>

        <%end%>
  		</li>
  	</ul>
  	<div class="jobBtns">
  		<a href="javascript:void(0)" id='saveALl' class="btn saveAllJob">猛戳保存</a>
  	</div>
  </div>
	<%= render partial: "/layouts/right"%>
</div>
    <div class="mainpop" style="display: none" id="editJobpop">
        <div class="form" id="jobhistory">
            <div class="frm">
                <span class="">公司名称：</span>
                <input class="verification" data-em="notnull" data-nohide="1" data-type="notnull" error-id="errorupdate_company_nameedit" id="update_company_nameedit" name="account_resume_experience[company_name]" style="border: 1px solid rgb(160, 160, 160);" type="text"><br>
                <span class="error" id="errorupdate_company_nameedit">*请填写公司姓名</span>
            </div>
            <div class="frm">
                <span class="">公司职位：</span>
                <input class="verification" data-em="notnull" data-nohide="1" data-type="notnull" error-id="errorupdate_company_postedit" id="update_company_posteditedit" name="account_resume_experience[post]" style="border: 1px solid rgb(160, 160, 160);" type="text"><br>
                <span class="error" id="errorupdate_company_postedit">*请填写公司职位</span>
            </div>
            <div class="frm">
                <span class="">开始时间：</span>
                <input class="verification timeDatepicker" data-em="notnull" data-nohide="1" data-type="date" error-id="errorstartTimejobedit" id="startTimejobedit" name="account_resume_experience[start_time]" type="text">
                <span class="error" id="errorstartTimejobedit">*请填写开始时间</span>
            </div>
            <div class="frm">
                <span class="">结束时间：</span>
                <input class="verification timeDatepicker" data-em="notnull" data-nohide="1" data-type="date" error-id="errorendTimejobedit" id="endTimejobedit" name="account_resume_experience[end_time]" type="text">
                <span class="error" id="errorendTimejobedit">*请填写结束时间</span>
            </div>
      <div class="frm">
                <span class="">薪资：</span>
                <input class="verification" data-em="notnull" data-nohide="1" data-type="hopemoney" error-id="errormoneyjobedit" id="moneyjobedit" name="account_resume_experience[salary]" style="border: 1px solid rgb(160, 160, 160);" type="text">k
                <span class="error" id="errormoneyjobedit">*请填写薪资</span>
            </div>
            <div class="frm">
                <span class="">工作描述：</span>
                <textarea class="verification" data-em="notnull" data-nohide="1" data-type="notnull" error-id="errormyjobdesedit" id="myjobdesedit" name="account_resume_experience[description]" style="border: 1px solid rgb(160, 160, 160);"></textarea>
                <span class="error" id="errormyjobdesedit">*请填写结束时间</span>
            </div>
        </div>
        <div class="jobBtns">
            <button class="btn" name="button" type="button" id="editjobhistory">确&nbsp;认</button>
        </div>
    </div>
        <div class="mainpop" style="display: none" id="editProjectpop">
            <div class="form">
                <div class="frm">
                    <span class="">项目名称：</span>
                    <input class="verification" data-em="notnull" data-nohide="1" data-type="notnull" error-id="errormyprojectnameedit" id="myprojectnameedit" name="account_resume_object[name]" style="border: 1px solid rgb(160, 160, 160);" type="text">
                    <span class="error notnull" id="errormyprojectnameedit">*请填写项目姓名</span>
                </div>
                <div class="frm">
                    <span class="">项目描述：</span>
                    <textarea class="verification" data-em="notnull" data-nohide="1" data-type="notnull" error-id="errorproject_descedit" id="project_descedit" name="account_resume_object[project_desc]" style="border: 1px solid rgb(160, 160, 160);"></textarea>
                    <span class="error" id="errorproject_descedit">*请填写项目描述</span>
                </div>
                <div class="frm">
                    <span class="">责任描述：</span>
                    <textarea class="verification" data-em="notnull" data-nohide="1" data-type="notnull" error-id="errorrole_descedit" id="role_descedit" name="account_resume_object[role_desc]" style="border: 1px solid rgb(160, 160, 160);"></textarea>
                    <span class="error" id="errorrole_descedit">*请填写责任描述</span>
                </div>
                <div class="frm">
                    <span class="">开始时间：</span>
                    <input class="verification timeDatepicker" data-em="notnull" data-nohide="1" data-type="date" error-id="errorstartTimeprojectedit" id="startTimeprojectedit" name="account_resume_object[start_date]" type="text">
                    <span class="error" id="errorstartTimeprojectedit">*请填写开始时间</span>
                </div>
                <div class="frm">
                    <span class="">结束时间：</span>
                    <input class="verification timeDatepicker" data-em="notnull" data-nohide="1" data-type="date" error-id="errorendTimeprojectedit" id="endTimeprojectedit" name="account_resume_object[end_date]" type="text">
                    <span class="error" id="errorendTimeprojectedit">*请填写结束时间</span>
                </div>
            </div>
            <div class="jobBtns">
                <input class="btn" name="commit" type="button" id="editprojecthistory" value="确&nbsp;认">
            </div>
        </div>
          <div class="mainpop" style="display: none" id="editDucationpop">
                <div class="form">
                    <div class="frm">
                        <span class="">学       历：</span>
                    <select id="Degreeedit" name="Degree">
                        <option value="初中">初中</option><option value="高中">高中</option><option value="中技">中技</option><option value="中专">中专</option><option value="大专" selected="">大专</option><option value="本科" selected="selected">本科</option><option value="MBA">MBA</option><option value="硕士">硕士</option><option value="博士">博士</option><option value="其他">其他</option>
                    </select>
                        <span class="error">*请填写学历</span>
                    </div>
                    <div class="frm">
                        <span class="">学       校：</span>
                        <input class="verification" data-em="notnull" data-nohide="1" data-type="notnull" error-id="errorrole_schooledit" id="role_schooledit" name="account_resume_education[school]" style="border: 1px solid rgb(160, 160, 160);" type="text">
                        <span class="error notnull" id="errorrole_schooledit" style="display: none;">*请填写学校</span>
                    </div>
                    <div class="frm">
                        <span class="">专       业：</span>
                        <input class="verification" data-em="notnull" data-nohide="1" data-type="notnull" error-id="errorrole_majoredit" id="role_majoredit" name="account_resume_education[major]" style="border: 1px solid rgb(160, 160, 160);" type="text">
                        <span class="error notnull" id="errorrole_majoredit" style="display: none;">*请填写专业</span>
                    </div>
                    <div class="frm">
                        <span class="">开始时间：</span>
                        <input class="verification timeDatepicker" data-em="notnull" data-nohide="1" data-type="date" error-id="errorstartTimeeducationedit" id="startTimeeducationedit" name="account_resume_education[start_date]" type="text" style="border: 1px solid rgb(160, 160, 160);">
                        <span class="error notnull" id="errorstartTimeeducationedit" style="display: none;">*请填写开始时间</span>
                    </div>
                    <div class="frm">
                        <span class="">结束时间：</span>
                        <input class="verification timeDatepicker" data-em="notnull" data-nohide="1" data-type="date" error-id="errorendTimeeducationedit" id="endTimeeducationedit" name="account_resume_education[end_date]" type="text" style="border: 1px solid rgb(160, 160, 160);">
                        <span class="error notnull" id="errorendTimeeducationedit" style="display: none;">*请填写结束时间</span>
                    </div>
                </div>
                <div class="jobBtns">
                    <input class="btn" name="commit" type="button" id="editAccount" value="确&nbsp;认">
                </div>
        </div>

