<%content_for :head_include do%>
<%end%>
<div class="mainContainer">
  <div class="main">
  	<div class="ml">
  		<h2 class="regH2">推荐公司</h2>
  		<ul class="brands">
  			<li><a href="#" class="baidu"><span>百度</span></a></li>
  			<li><a href="#" class="baiduyun"><span>百度云</span></a></li>
  			<li><a href="#" class="huaban"><span>花瓣</span></a></li>
  			<li><a href="#" class="oneshop"><span>1号店</span></a></li>
  			<li><a href="#" class="jd"><span>京东</span></a></li>
  			<li><a href="#" class="sina"><span>新浪</span></a></li>
  		</ul>
  	</div>
  	<div class="mm">
      <%= render partial: "/layouts/top_timeline"%>
      <%if @posts.present?%>
      <!--用时：<%#= (@time*1000).to_s % "%.4f"%>秒-->
  		<ul class="employment">
        <%resume_is_complete = current_account.present? && current_account.current_account_resume.complete?%>
  			<%@posts.each do |post|%>
        <%post_record = @records.find(post.id)%>
  			<li class="selectcurrent">
  				<div class="employInfo">
  					<div class="userImg"><%= link_to image_tag(post_record.account.logo(:thumb)), "#"%></div>
  					<div class="employDetail">
  						<p><span class="b"><%= post_record.account.nick_name%>   （<%= post_record.protect_email%>）</span><span>发布了  <%= raw post.highlight.title ? post.highlight.title[0] : post.title%>&nbsp;<%= post._score%></span></p>  
  						<p><span class="b">地点：<%= raw post.highlight.address ? post.highlight.address[0] : post.address%></span><span class="b">  •  公司：<%= post_record.company.name%></span><span class="b">  •  薪资：<%= "#{post.price_min.to_i}k ~ #{post.price_max.to_i}k"%></span></p>
  						<dl>
  						 	<dt>职位要求：</dt>
  						 	<%= sanitize(post.highlight.sanitize_content ? post.highlight.sanitize_content[0] : post.sanitize_content.to_s[0, 200])  %>
  						 </dl> 
  					</div>
  				</div>
				
  				<div class="employBtns">
            <%if current_account%>
              <%if post_record.can_apply?(current_account.id)%>
                <a href="javascript:void(0)" jobid="<%= post_record.id%>" class="btnR initiateInterviewBtn" resume_complete="<%= resume_is_complete%>">发起面试</a>
              <%else%>
                <a href="javascript:void(0)" jobid="<%= post_record.id%>" class="btnR initiateInterviewBtn" isc="1">已发起面试</a>
              <%end%>
            <%else%>
              <a href="<%= new_account_session_path%>" jobid="<%= post_record.id%>" class="btnR initiateInterviewBtn">发起面试</a>
            <%end%>
            <a href="<%= post_path(post_record)%>" class="btnR">查    看</a>
            <a jobid="<%= post_record.id%>"  onclick="addCollect(this)" href="<%= current_account ? 'javascript:void(0)' : new_account_session_path%>" class="btnR">收    藏</a>
  				</div>
  			</li>
        <%end%>
  		</ul>
      <%= paginate @posts, window: 6%>
      <%else%>
			<ul class="employment">
				<li>
          <p class="noSearchTags" >您搜索的职位似乎很厉害的样子，但是没有o(╯□╰)o换个关键词再搜一下</p>
				</li>
			</ul>
      <%end%>
  	</div>
  </div>
  <%= render partial: "/layouts/right"%>
</div>

