<%if current_account.blank? || current_account.account_type == Account::ACCOUNT_TYPE_WORKER%>
  <div class="search">
    <div class="searchBox" data-msgtip="请填写期望：职位与城市">
        <input type="text" id="searchJobs" style="color:#8f8f8f;text-align: left;line-height: 30px" value=" 输入职位名称，如：销售" id="searchJobs" />
        <a href="javascript:void(0)" id="searchJobBtn" class="searchBtn"><em>&nbsp;</em></a>
    </div>
    <div class="cities">
      <p>
        <select id="mycity" data-placeholder="选择城市" style="width:100px;height:40px"><select>
      </p>
    </div>
    <div class="history">
      <%search_tags = self_hot_search_tags%>
      <%if search_tags.present?%>
        <a href="javascript:void(0)">搜索痕迹：</a>
        <%self_hot_search_tags.each do |tag|%>
          <%= link_to tag.name, search_posts_path(k: tag.name)%>
        <%end%>
      <%end%>
    </div>
  </div>
<%end%>

<% if current_account.blank?%>
  <ul class="nav">
  	<li><%= link_to "找工作", index_index_path, class: "current"%></li>
    <li><%= link_to "登陆", new_account_session_path%></li>
  </ul>
<%elsif current_account.account_type == Account::ACCOUNT_TYPE_WORKER%>
  <ul class="nav">
  	<li><%= link_to "找工作", index_index_path, class: "current"%></li>
  	<li><a href="<%= worker_auditions_path%>">面试消息<%= worker_wait_audition_count%></a></li>
  	<li><%= link_to "完善简历", worker_resumes_path%></li>
  	<li><%= link_to "#{ current_account.nick_name.present? ? "昵称：#{current_account.nick_name}" : "填写基本资料"}", edit_account_registration_path%></li>
  	<li><%= link_to "退出", destroy_account_session_path%></li>
  </ul>
<%else%>
  <ul class="nav">
  	<li><a href="<%= hr_applies_path(status: :status_apply_normal)%>">人才面试消息<%= hr_apply_normal_count%></a></li>
  	<li><%= link_to "发布职位", new_hr_post_path%></li>
  	<li><%= link_to "#{ current_account.nick_name.present? ? "昵称：#{current_account.nick_name}" : "填写基本资料"}", edit_account_registration_path%></li>
  	<li><%= link_to "退出", destroy_account_session_path%></li>
  </ul>
<%end%>