<%if current_account && current_account.account_type == Account::ACCOUNT_TYPE_WORKER%>
<% state_timelines = ["", :status_apply_normal, :status_apply_hr_receive, :status_wait_audition, :status_audition_passed, :status_probation_passed, :status_apply_hr_reject, :status_audition_failed, :status_probation_failed]%>
<ul class="procGuide pgd1<%= " procGuideOleft" if controller_name != "index" && controller_name != "posts"%>">
    <li><a href="<%= worker_applies_path(status: :status_apply_normal)%>" class="<%= "current" if (state_timelines||[]).index(params[:status].to_s.to_sym).to_i == 1%> first">待HR处理</a></li>
    <li><a href="<%= worker_applies_path(status: :status_apply_hr_receive)%>" class="<%= "current" if (state_timelines||[]).index(params[:status].to_s.to_sym).to_i == 2%> second">HR已查看简历</a></li>
    <li class="third"><a href="<%= worker_applies_path(status: :status_wait_audition)%>" class="<%= "current" if (state_timelines||[]).index(params[:status].to_s.to_sym).to_i == 3%>">等待面试</a></li>
    <li><a href="<%= worker_applies_path(status: :status_audition_passed)%>" class="<%= "current" if (state_timelines||[]).index(params[:status].to_s.to_sym).to_i == 4%> fourth">面试通过</a></li>
    <li><a href="<%= worker_applies_path(status: :status_probation_passed)%>" class="<%= "current" if (state_timelines||[]).index(params[:status].to_s.to_sym).to_i == 5%> fifth">试用期通过</a></li>
</ul>
<div class="processorBar<%= " procGuideOleft" if controller_name != "index" && controller_name != "posts"%>" title='请点击文字'>
    <div class="pb p<%= (state_timelines||[]).index(params[:status].to_s.to_sym).to_i%>"></div>
</div>
<div class="procGuide">
    <ul class="pgd2">
        <li><a href="<%= worker_applies_path(status: :status_apply_hr_reject)%>" class="<%= "current" if (state_timelines||[]).index(params[:status].to_s.to_sym).to_i == 6%> third">HR拒绝</a></li>
        <li><a href="<%= worker_applies_path(status: :status_audition_failed)%>" class="<%= "current" if (state_timelines||[]).index(params[:status].to_s.to_sym).to_i == 7%> fourth">面试未通过</a></li>
        <li><a href="<%= worker_applies_path(status: :status_probation_failed)%>" class="<%= "current" if (state_timelines||[]).index(params[:status].to_s.to_sym).to_i == 8%> fifth">试用期未通过</a></li>
        <li class="last"></li>
    </ul>
</div>
<%end%>