<%if current_account && current_account.account_type == Account::ACCOUNT_TYPE_WORKER%>
<ul class="procGuide pgd1">
    <li><a href="<%= worker_applies_path(status: :status_apply_normal)%>" class="current first">待HR处理</a></li>
    <li><a href="<%= worker_applies_path(status: :status_apply_hr_receive)%>" class="second">HR已查看简历</a></li>
    <li class="third"><a href="<%= worker_applies_path(status: :status_wait_audition)%>">等待面试</a></li>
    <li><a href="<%= worker_applies_path(status: :status_audition_passed)%>" class="fourth">面试通过</a></li>
    <li><a href="<%= worker_applies_path(status: :status_probation_passed)%>" class="fifth">试用期通过</a></li>
    <li class="last sixth"><a href="#">恭喜</a></li>
</ul>
<div class="processorBar" title='请点击文字'>
    <div class="pb p0"></div>
</div>
<div class="procGuide">
    <ul class="pgd2">
        <li><a href="<%= worker_applies_path(status: :status_apply_hr_reject)%>" class="third">HR拒绝</a></li>
        <li><a href="<%= worker_applies_path(status: :status_audition_failed)%>" class="fourth">面试未通过</a></li>
        <li><a href="<%= worker_applies_path(status: :status_probation_failed)%>" class="fifth">试用期未通过</a></li>
        <li class="last"></li>
    </ul>
</div>
<!--ul class="mSubNav">
    <li><a href="#" class="findTit">发现</a></li>
    <li class="loginTip" data-msgtip="请填写期望：职位与城市"><a href="javascript:void(0)" class="f_current">JS</a></li>
    <li class="loginTip" data-msgtip="请填写期望：职位与城市"><a href="javascript:void(0)" class="f_btn">CSS</a></li>
    <li class="loginTip" data-msgtip="请填写期望：职位与城市"><a href="javascript:void(0)" class="f_btn">UI</a></li>
    <li class="loginTip" data-msgtip="请填写期望：职位与城市"><a href="javascript:void(0)" class="f_btn">PM</a></li>
    <!--<li><a href="#" class="topTit">热门</a></li>
    <%#self_hot_search_tags.each do |tag|%>
    <li class="loginTip" data-msgtip="请填写期望：职位与城市"><a href="<%#= search_posts_path(k: tag.name)%>" class="t_current"><%#= tag.name%></a></li>
    <%#end%>
</ul-->
<!--ul class="menuBar clearfix">
    <li><span class="tips"><i>发现</i></span></li>
    <li><a href="#" class="current">JavaScript</a></li>
    <li><a href="#">前端CSS</a></li>
    <li><a href="#">移动端UI</a></li>
    <li><a href="#">前端CSS</a></li>
    <li><a href="#">移动端UI</a></li>
</ul-->
<%end%>