<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="shortcut icon" href="/images/logo.ico"  type="image/x-icon" />
	<link rel="Bookmark" href="/images/logo.ico">
	<title>鸟窝，让高度匹配的靠谱求职者与靠谱招聘方自动找到对方！</title>
  <%= stylesheet_link_tag    '/鸟窝html/stylesheets/ui_base.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '/鸟窝html/stylesheets/ui_common.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '/鸟窝html/stylesheets/register.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '/鸟窝html/stylesheets/popup.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '/鸟窝html/javascripts/css/ui-lightness/jquery-ui-1.10.4.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '/鸟窝html/javascripts/chosen/chosen.css', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag '/鸟窝html/javascripts/jquery-1.10.2.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/鸟窝html/javascripts/jquery-ui-1.10.4.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/鸟窝html/javascripts/cookie.js', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag '/鸟窝html/javascripts/getcity.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/鸟窝html/javascripts/chosen/chosen.jquery.js', 'data-turbolinks-track' => true %>


  <%= yield :head_include%>
  <%= csrf_meta_tags %>
</head>
<body>
    <!--发起职位层 start-->
    <div class="ui-widget-overlay ui-front initiateInterviewPop"></div>
    <div class="popUpBox initiateInterviewPop" id="initiateInterviewPop">
      <h1 class="h2Title">发起面试</h1>
        <div class="form">
            <div class="frm">
                <span>面试币：</span><input type="text" id="interviewCurrency" value="0" class="txt"/>
            </div>
            <div class="frm">
                <span>密语：</span><textarea name="" id="interviewContent" class="txtar"></textarea>
            </div>
        </div>
        <div class="help">
            <p>什么是发起面试？</p>
            <p>鸟窝币：作为“鸟窝”平台的虚拟货币，1元=1个鸟窝币，可以提现为普通现金。</p><br/>
            <p>什么是邀约金？</p>
            <p>鸟窝币：作为“鸟窝”平台的虚拟货币，1元=1个鸟窝币，可以提现为普通现金。</p><br/>
            <p>什么是密语？</p>
            <p>鸟窝币：作为“鸟窝”平台的虚拟货币，1元=1个鸟窝币，可以提现为普通现金。</p>
            <p><a href="#">>>查看更多教程</a></p>
        </div>
        <div class="popupBtn">
            <a href="javascript:void(0)" id="goinitiateInterviewBtn" class="btn">发    起</a>
            <a href="javascript:void(0)" style="background-color: #ccc;border-color: #ccc" class="btn closeinitiateInterviewBtn">关    闭</a>
        </div>
    </div>
    <!--发起职位弹层 end-->
	<div class="headerWrap">
		<div class="header">
			<h1><a href="/" class="logo">鸟窝</a></h1>
			<%= render partial: "/layouts/top_nav"%>
		</div>
	</div>
	<div class="mainWrap">
		<%= yield %>
	</div>
	<div class="footerWrap">
		<div class="footer">
			<div class="ftLogo">
				<a href="#" class="logo">鸟窝</a>
				<p>©2014 鸟窝 niaowo.mobi<br/>京ICP备13010988号-* </p>
			</div>
			<div class="about">
				<h4>关于鸟窝</h4>
				<p>让高度匹配的靠谱求职者与靠谱招聘方自动找到对方</p>
				<p class="more"><a href="<%= about_index_index_path%>">了解更多...</a></p>
			</div>
			<div class="contact">
				<h4>联系方式</h4>
				<p>电话：15965482236</p>
				<p>Q Q：939 898 101</p>
				<p>邮箱：niaowo@163.com</p>
			</div>
			<div class="coWorker">
				<h4>合作伙伴</h4>
				<p><a href="#" class="first"></a></p>
				<p><a href="#" class="second"></a></p>
			</div>
			<div class="friendLink">
				<h4>友情链接</h4>
				<a href="#">百度</a><a href="#">新浪</a>
			</div>
		</div>
	</div>
   <%= javascript_include_tag '/鸟窝html/javascripts/index.js', 'data-turbolinks-track' => true %>
</body>
</html>